@model GerenciadorDeViagem.WEB.Models.Usuario

@{
    ViewData["Title"] = "Consultar Usuário";
}
<style>
    .page-item.active .page-link {
        color: #fff;
        background-color: black;
        border-color: black;
        border-radius: 3px;
    }

    .mensagemNaTela {
        opacity: 1;
        transition: opacity 0.5s ease-out;
    }

    .escondido {
        opacity: 0;
    }

    .botao {
        width: 100%;
    }
</style>

@{
    var achouUsuario = ViewBag.AchouUsuario;
}


<h3>Administrador</h3>

@if (achouUsuario == GerenciadorDeViagem.WEB.Models.Enum.UsuarioEncontrado.UsuarioNaoEncontrado)
{
    <div class="mensagemUsuario alert alert-info" role="alert">
        <p>Usuario não encontrado, valide a matricula e tente novamente</p>
    </div>
}
else if (achouUsuario == GerenciadorDeViagem.WEB.Models.Enum.UsuarioEncontrado.MatriculaIncorreta)
{
    <div class="mensagemUsuario alert alert-danger" role="alert">
        <p>Erro na matricula, deve ter 6 caracteres, contate o suporte ou tente novamente <strong>Email: </strong><em>suporte@empresa.com</em></p>
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form id="formIndex" asp-action="DetalhesUsuario" asp-route-matriculaUserLogado="@ViewBag.Matricula" class="mt-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Matricula" class="control-label">Matrícula</label>
                    <input id="matriculaId" asp-for="Matricula" value="" class="form-control" placeholder="Informe a matrícula para buscar" />
                    <span asp-validation-for="Matricula" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <button type="submit" class="btn btn-dark btn-block botao">Buscar Usuário</button>
                </div>
                <br />
                <div class="form-group">
                    <a asp-controller="UsuarioAdmin" asp-action="VoltarPagina"
                       asp-route-pagina="@GerenciadorDeViagem.WEB.Models.Enum.Pagina.IndexAdministrador"
                       asp-route-matricula="@ViewBag.matricula">
                        <button type="button" class="btn btn-info btn-block botao" onclick="mudarMetodo()">Voltar</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function mudarMetodo() {
        var form = document.getElementById('formIndex');
        form.method = 'get';
        form.submit();
    }
 
        setTimeout(function () {
            var mensagensTela = document.getElementsByClassName('mensagemUsuario');
            for (var i = 0; i < mensagensTela.length; i++) {
                mensagensTela[i].style.display = 'none';
            }

            for (var i = 0; i < mensagensTela.length; i++) {
                mensagensTela[i].classList.add('escondido');
            }
        }, 4000);

</script>